

<div class="container">
   <form  method="post" enctype="multipart/form-data">
        <input type="hidden" name="user_id" value="6295c6aa763b823fbba20790">
        <input id="image1" name="image1"  type="file" accept="image/*" single>
        <input id="image2" name="image2" type="file" accept="image/*" single>
        <div class="text-danger">Error: {{error}}</div>
        <button id="updateImage" type="submit" class="btn btn-success">Update CMND</button>
   </form>

</div>
