
<body>
    <section class="vh-100" id="u-login-background-body">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-8 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 u-login-gradient-custom text-center text-white justify-content-center d-flex align-items-center"
                                style=" border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                <img src="https://play-lh.googleusercontent.com/PtMVPSG8gCNkChbJf1Bbk-coBM4dQP5lVC5ZfHJLgkZJT-AbuDfhyIx4thEB3I9u9Lg"
                                    alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                            </div>
                            <div class="col-md-8 u-login-card-padding">
                                <div class="card-body p-4">
                                    <!-- TODO: DO SOMETHING WITH ALERT-->
                                    <div class="alert alert-danger" role="alert">
                                        Danger/ message
                                    </div>

                                    <h3 class="text-center mb-3">ĐỔI MẬT KHẨU</h3>
                                    <div class="alert alert-info" role="alert">
                                        Do bạn đăng nhập lần đầu tiên, trước hết hãy đổi mật khẩu.
                                    </div>
                                    <div class="row pt-1">
                                        <!-- TODO: FILL IN URL IN ACTION-->
                                        <form action="/" method="POST">
                                            <div class="form-group pb-3">
                                                <label for="userpass" class="fw-bold pb-3">Mật khẩu mới</label>
                                                <input type="password" class="form-control p-2" id="userpass"
                                                    placeholder="Vui lòng nhập mật khẩu">
                                            </div>
                                            <div class="form-group pb-3">
                                                <label for="userpass" class="fw-bold pb-3">Nhập lại Mật khẩu mới</label>
                                                <input type="password" class="form-control p-2" id="userpass"
                                                    placeholder="Vui lòng Nhập lại Mật khẩu mới">
                                            </div>
                                            <!-- TODO: FILL IN URL SUBMIT BUTTON-->
                                            <div class="d-flex justify-content-center">
                                                <button type="submit" class="btn btn-success u-login-btn-login">Lưu thay đổi</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>