<div>
    <div class="row">
        <div class="col-1"></div>
         <div class="col-4 p-4 m-5"><img class="ps-5 pt-5"
                src="https://icon-library.com/images/id-card-icon/id-card-icon-29.jpg"
                 width="300" height="250"></div>
        <div class="col-4 p-4   " id="d-id-card">
            <!-- TODO: ADD ACTION URL -->
            <form action="" method="post">
                <div class=" d-flex justify-content-center pb-5">
                    <h3 class="text-success">Cập nhật thông tin CMND</h3>
                </div>
                
                <div class="mb-2">
                    <label for="id-card-front" class="form-label">CMND mặt trước</label>
                    <input class="form-control form-control-sm" id="id-card-front" type="file">
                </div>
                <div class="mb-2">
                    <label for="id-card-back" class="form-label">CMND mặt sau</label>
                    <input class="form-control form-control-sm" id="id-card-back" type="file">
                </div>
                <button type="submit" class="btn btn-success u-btn-submit">Submit</button>
            </form>
        </div>
        


    </div>
</div>