<div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4 p-4   " id="d-password">
            <!-- TODO: ADD ACTION URL -->
            <form oninput='up2.setCustomValidity(password1.value != password2.value ? "Không khớp với mật khẩu mới" : "")'
                id="formChangePass" action="users/changepassword">
                <div class=" d-flex justify-content-center">
                    <h3 class="text-success">Đổi mật khẩu</h3>
                </div>
                <div class="mb-2">
                    <label for="old-password" class="form-label">Mật khẩu hiện tại</label>
                    <input type="password" class="form-control" id="old-password" required
                        placeholder="Nhập khẩu hiện tại" name="password0">
                </div>
                <div class="mb-2">
                    <label for="new-password" class="form-label">Mật khẩu mới</label>
                    <input type="password" class="form-control " id="new-password" required placeholder="Mật khẩu mới"
                        required name="password1">
                </div>
                <div class="mb-4">
                    <label for="re-new-password" class="form-label">Xác nhận mật khẩu</label>
                    <input type="password" class="form-control" id="re-new-password" required
                        placeholder="Nhập lại mật khẩu" name="password2">
                </div>
                <button class="btn btn-success u-btn-submit">Xác nhận đổi mật khẩu</button>
            </form>
        </div>
        <div class="col-4 p-4 m-5"><img class="ps-5 pt-5"
                src="https://media.istockphoto.com/vectors/change-password-linear-icon-password-reset-line-icon-circular-arrow-vector-id1321309032?k=20&m=1321309032&s=612x612&w=0&h=4YQMGC8f1BJ2oektIXDWmi_KQnSvLK9Zmn8HPOML7yw="
                alt="Girl in a jacket" width="300" height="250"></div>
    </div>
</div>