<div class="tab-pane">
    <h3 class="text-success">Lịch sử giao dịch</h3>
    <table class="table table-hover border" id="tbl-history">
    </table>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 p-5" id="d-show-info">
         
        </div>
    </div>
    <a class="btn btn-success" onclick="tradeHistory()">Xem lịch sử giao dịch</a>

</div>