<div class="tab-pane">
    <h3 class="text-success">Lịch sử giao dịch</h4>
        <table class="table table-hover border">
            <thead>
                <tr class="table-success">
                    <th>ID</th>
                    <th>Loại giao dich</th>
                    <th>Số tiền</th>
                    <th>Thời gian thực hiện</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tr style="cursor: pointer">
                <td><a >Icon</a></td>
                <td><a >Mua the</a></td>
                <td>100.000</td>
                <td>--</td>
                <td>Chờ xác minh</td>
            </tr>
        </table>
</div>